<script context="module" lang="ts">
	/*Basically telling svelte kit this page should be SSR'ed*/
	export const prerender = true;
</script>

<script lang="ts">
	import { setClient } from '@urql/svelte';
	import { operationStore, query } from '@urql/svelte';

	import { ArticlesFullDocument } from '../graphql/generated/graphql';
	import type { ArticlesFullQueryStore } from '../graphql/generated/graphql';

	import client from '../graphql/_client';
	import Article from '../components/Article.svelte';
	setClient(client);

	const articles: ArticlesFullQueryStore = operationStore(ArticlesFullDocument);
	query(articles);
</script>

<svelte:head>
	<title>Articles</title>
</svelte:head>

{#if $articles.fetching}
	<p>Loading...</p>
{/if}

{#if $articles.error}
	<p>Oh no, error: {$articles.error.message}</p>
{/if}

{#if $articles.data}
	{#each $articles.data.articles as article}
		<Article {article} />
	{/each}
{/if}
