<script lang="ts">
	import type { ArticleFullFragment } from '../graphql/generated/graphql';
	export let article: ArticleFullFragment;
</script>

<div class="mb-10">
	<div class="border-b-2 border-gray-700">
		<a href={`/articles/${article.slug}`} class="text-2xl font-bold uppercase text-indigo-500"
			>{article.title}</a
		>
	</div>
	<div class="my-10 text-2xl">{article.content}</div>
	<div class="flex justify-end mt-5">{article.author}</div>
</div>
