<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import { setClient } from '@urql/svelte';
	import { page } from '$app/stores';
	// Page will tell what the slug value is
	import { operationStore, query } from '@urql/svelte';
	import { ArticleBySlugDocument } from '../../graphql/generated/graphql';
	import Article from '../../components/Article.svelte';

	import client from '../../graphql/_client';
	setClient(client);

	const article = operationStore(ArticleBySlugDocument, {
		slug: $page.params.slug ?? ''
	});

	query(article);
</script>

{#if $article.fetching}
	<p>Loading...</p>
{/if}

{#if $article.error}
	<p>Oh no, error: {$article.error.message}</p>
{/if}

{#if $article.data && $article.data.articleBySlug}
	<Article article={$article.data.articleBySlug} />
{/if}
