<script lang="ts">
	import { writable } from 'svelte/store';
	import { mutation, setClient } from '@urql/svelte';

	import client from '../../graphql/_client';
	import { AddArticleDocument } from '../../graphql/generated/graphql';
	import type { AddArticleMutationVariables } from '../../graphql/generated/graphql';
	setClient(client);

	let article = writable<AddArticleMutationVariables>({
		title: '',
		content: '',
		author: ''
	});

	const addArticle = mutation<AddArticleMutationVariables>({ query: AddArticleDocument });

	const handleAdd = async () => {
		const result = await addArticle($article);
		console.log(result);

		$article.content = '';
		$article.title = '';
	};
</script>

<form class="mt-10">
	<div class="grid form-grid gap-5">
		<label for="title" class="text-2xl mt-2 font-bold">Title</label>
		<input id="title" type="text" bind:value={$article.title} class="border-2 border-black" />
		<label for="content" class="text-2xl mt-2 font-bold">Content</label>
		<textarea
			id="content"
			type="text"
			bind:value={$article.content}
			class="border-2 border-black"
		/>
		<label for="author" class="text-2xl mt-2 font-bold">Author</label>
		<textarea id="author" type="text" bind:value={$article.author} class="border-2 border-black" />
	</div>
</form>

<div class="flex justify-end">
	<button class="mt-5 px-10 py-2 bg-blue-900 text-white rounded-lg font-bold" on:click={handleAdd}
		>Add</button
	>
</div>

<style>
	.form-grid {
		grid-template-columns: 1fr 5fr;
	}
</style>
